:root {
  --accent: #78e2a0;
  --accent-contrast-color: black;
  --article-link-color: var(inherit);
  --background: color-mix(in srgb, var(--accent) 2%, #1d1e28 98%);
  --border-color: rgba(255, 255, 255, 0.1);
  --color: white;

  // Use in code syntax highlighting
  --syntax-func-color: color-mix(in srgb, var(--accent) 70%, #999 30%);
  --syntax-var-color: color-mix(in srgb, var(--accent) 90%, transparent);
  --syntax-value-color: color-mix(in srgb, var(--accent), white);
  --syntax-punctuation-color: white;
  --syntax-comment-color: rgba(255, 255, 255, 0.3);
  --syntax-line-highlight-mix: color-mix(in srgb, var(--accent) 90%, #999 10%);
  --syntax-line-highlight-background-color: hsla(24, 20%, 50%, 0.4);
  --syntax-line-highlight-color: hsl(24, 20%, 95%);
  --syntax-line-highlight-box-shadow: white;
  --syntax-code-border-color: rgba(255, 255, 255, 0.1);
  --syntax-code-copy-button-background: hsla(0, 0%, 87.8%, 0.2);
  --syntax-code-copy-button-color: #bbb;
  --syntax-code-copy-button-box-shadow-color: rgba(0, 0, 0, 0.2);
}