:root {
  --accent: #EE72F1;
  --accent-contrast-color: black;
  --article-link-color: var(inherit);
  --background: color-mix(in srgb, var(--accent) 2%, #1D1E28 98%);
  --border-color: rgba(255, 255, 255, .1);
  --color: white;
}
